<style>
body{
    background-color: #3498db;
        color: #ffffff;
}
    ChangeBackgroundButton {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>
